.root{
  position: relative;
  left: -120px;
  
  .searchImg{
  width: 27px;
  height: 27px;
  position: absolute;
  left: 10px;
  top: 6px;
  opacity: 0.5;
  }
  .searchInput{
width: 450px;
  height: 38px;
  padding-left: 50px;
  font-size: 20px;
  border-radius: 5px;
  }
  .clouseImg{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5px;
    top: 6px;
    opacity: 0.5;
    cursor: pointer;
    
    &:hover{
opacity: 1;
    }
    
  }
}